services:
  listmonk:
    image: listmonk/listmonk:latest
    container_name: listmonk
    restart: unless-stopped
    ports:
      - "${LISTMONK_PORT:-9090}:9000"
    networks:
      - homelab
    hostname: listmonk.example.com
    command:
      [
        sh,
        -c,
        "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''",
      ]
    environment:
      LISTMONK_app__address: 0.0.0.0:9000
      LISTMONK_db__user: ${LISTMONK_DB_USER:-root}
      LISTMONK_db__password: ${LISTMONK_DB_PASSWORD:-password}
      LISTMONK_db__database: ${LISTMONK_DB_NAME:-listmonk}
      LISTMONK_db__host: ${LISTMONK_DB_HOST:-postgres}
      LISTMONK_db__port: ${LISTMONK_DB_PORT:-5432}
      LISTMONK_db__ssl_mode: ${LISTMONK_DB_SSL_MODE:-disable}
      LISTMONK_db__max_open: ${LISTMONK_DB_MAX_OPEN:-25}
      LISTMONK_db__max_idle: ${LISTMONK_DB_MAX_IDLE:-25}
      LISTMONK_db__max_lifetime: ${LISTMONK_DB_MAX_LIFETIME:-300s}
      TZ: ${TZ:-Asia/Jakarta}
      LISTMONK_ADMIN_USER: ${LISTMONK_ADMIN_USER:-admin}
      LISTMONK_ADMIN_PASSWORD: ${LISTMONK_ADMIN_PASSWORD:-password}
    volumes:
      - listmonk_data:/listmonk/uploads:rw
    deploy:
      resources:
        limits:
          cpus: "${LISTMONK_CPU_LIMIT:-1}"
          memory: ${LISTMONK_MEMORY_LIMIT:-1G}

networks:
  homelab:
    external: true

volumes:
  listmonk_data:
