services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_ALLOWED_HOSTS:-localhost}
      PUID: ${HOMEPAGE_PUID:-1000}
      PGID: ${HOMEPAGE_PGID:-1000}
      HOMEPAGE_VAR_LOGO_ICON: ${HOMEPAGE_VAR_LOGO_ICON}
      HOMEPAGE_VAR_BACKGROUND_IMAGE: ${HOMEPAGE_VAR_BACKGROUND_IMAGE}
    ports:
      - ${HOMEPAGE_PORT:-3000}:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "${HOMEPAGE_CPU_LIMIT:-0.5}"
          memory: ${HOMEPAGE_MEMORY_LIMIT:-256M}
