services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD:-password}
      MARIADB_USER: ${MARIADB_USER:-root}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD:-password}
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    networks:
      - homelab
    deploy:
      resources:
        limits:
          cpus: "${MARIADB_CPU_LIMIT:-1}"
          memory: ${MARIADB_MEMORY_LIMIT:-1G}

networks:
  homelab:
    external: true
