services:
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    ports:
      - "${BIND_IP}:${IT_TOOLS_PORT:-8095}:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "${IT_TOOLS_CPU_LIMIT:-0.5}"
          memory: ${IT_TOOLS_MEMORY_LIMIT:-256M}
